.app {
  font: 14px/1.4 Roboto, Helvetica, Arial, Tahoma, sans-serif;
  display: flex;
  justify-content: space-evenly;
  min-height: 100vh;
  width: 100vw;
  background: #fff;
  .sidePanel {
    width: 35vw;
  }

  .searchSect,
  .tweetsSect {
    grid-column: 1 / span 3;
  }

  .searchSect {
    input {
      margin: 2vh 0;
      border: 1px solid transparent;
      padding: 2vh 0;
      width: 100%;
      border-radius: 5vw;
      font-size: 3vmin;
      padding-left: 2vw;
      background: #ebeef0;
      color: #697b8d;
    }
    input:focus {
      border: 1px solid #3b94d9;
      outline: none;
      color: #0f141a;
    }
  }

  .hashtagsSect {
    background-color: #f6f9fa;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 2vh 1vw;
    margin: 0 auto;
    border-radius: 2vmin;

    .hashtag {
      color: #3b94d9;
      display: inline-block;
      border-radius: 50px;
      padding: 10px 20px;
    }
    .hashtag:hover {
      background-color: #e7f3fa;
    }
  }

  .tweet {
    padding: 3vh 2vw;
    background-color: #fff;
    border: 1px solid #ededed;
    border-bottom: none;
    display: flex;
    align-items: center;
  }
  .tweet:last-child {
    border-bottom: 1px solid #ededed;
  }
.tweet:hover {
  background-color: #f9f9f9;
}
  .tweetsSect {
    width: 55vw;
    h2 {
      border: 1px solid #ededed;
      border-bottom: none;
      padding: 2vh 2vw;
    }
    .avatar {
      img {
        border-radius: 50%;
      }
    }

    .tweetText {
      display: inline-block;
      padding-left: 2vw;

      .user {
        font-weight: bold;
      }

      .link {
        color: #1da1f1;
        text-decoration: none;
        outline: 0;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

/* Medium screens */
@media all and (max-width: 1024px) {
  #root {
    background-color: red;

    .app {
      .searchSect,
      .hashtagsSect,
      .tweetsSect {
        grid-column: 1 / span 5;
      }
    }
  }
}

/* Small screens */
@media all and (max-width: 500px) {
  #root {
    background-color: green;

    .app {
      width: 100vw;
    }
  }
}

h4 {
  padding-left: 10px;
  font-size: 3vmin;
}
